<header class="header">
    <nav class="nav">
        <div class="primary">
            <span class="text-white">
                Tareas

            </span>
        </div>

        <div class="second">
            <span class="text-gray pointer">Comunidad</span>
            <span class="text-gray pointer">Documentación</span>
            <span class="text-gray pointer">Blog</span>
            <span class="text-gray pointer">Compañia</span>
            <button class="text-white buttonExit">Salir</button>
        </div>

    </nav>

</header>
<input type="checkbox" class="openSidebarMenu" name="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>

<div class="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li *ngFor="let tarea of listaTareas; let i = index" class="text-white">
            {{tarea}}
            <button (click)="eliminarTarea(i)">Eliminar</button>
        </li>
    </ul>
</div>

<main class="container">


    <section>
        <div class="content">
            <div class="into">

                <span class="menu pointer">
                    <div class="contentTaskMenuM">
                        <ul>

                            <br>
                        </ul>
                    </div>
                </span>

                <h2 class="text-gray-2">Lista de tareas</h2>
            </div>
            <input maxlength="120" type="text" placeholder="Nueva tarea" [(ngModel)]="nuevaTarea" class="btn-w90">
            <button (click)="agregarTarea()" class="btn-w">Agregar Tarea</button>
        </div>
    </section>
    <aside>
        <div class="contentTask">
            <ul class="">
                <li *ngFor="let tarea of listaTareas; let i = index" class="">
                    {{tarea}}
                    <button (click)="eliminarTarea(i)">x</button>
                </li>
            </ul>
        </div>
    </aside>
    <div class="isFooter"></div>
</main>