/* original css */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.primary {
    span {
        margin-left: 20px;
    }
}

.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    button {
        margin-right: 20px;
    }
}

.text-gray {
    transition: .4s;
    color: aliceblue;

    &:hover {
        color: #767676;
    }
}

.pointer {
    cursor: pointer;
}

.buttonExit {
    font-weight: 600;
    color: #fff;
    padding: .75rem 1rem;
    filter: blur(.2px);
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-filter: blur(.2px);
}

.text-white {
    font-weight: 600;
    color: #fff;
}

.text-gray-2 {
    color: #ffffffb3 !important;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}



li button {
    background-color: #942b20;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 10px;
}

li button:hover {
    background-color: #c0392b;
}

input {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px;
    background-color: #275429;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.content {
    margin: 8px;
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 20px;

    input {
        width: 100%;

    }
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr 100px;
    height: 100vh;
    grid-template-areas:
        "aside section section"
        "aside section  section"
        "footer footer footer"
    ;
}



.container section {
    grid-area: section;
}

.container .isFooter {
    grid-area: footer;
}

.container aside {
    grid-area: aside;
}

.contentTask {
    /* position: relative; */
    align-items: center;
    margin-top: 90px;
    padding: 10px;
    word-break: break-all;

    li {
        word-wrap: break-word;
        max-width: 400px;
        margin-bottom: 5px;
        padding: 8px;
        background-color: #f0f0f0;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*  */

.header {
    /* display: flex; */
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 10;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}

.mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.sidebarMenu {
    background: #464646 ;
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    color: white;
}

.sidebarMenuInner {
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"]:checked~.sidebarMenu {
    transform: translateX(0);
}


input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    display: none;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 22px;
    width: 22px;
    top: 22px;
    left: 15px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;

}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


@media (width < 600px) {
    .container aside {
        display: none;
    }

    .sidebarIconToggle{
        display: block;
    }

    .primary, .second {
        display: none;
    }
    
    .container {
        grid-template-areas:
            "section section section"
            "footer  footer footer"
            "aside aside aside"
        ;
    }
}